<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>送信が完了しました</h3>
      <p>内容は以下のとおりです。</p>
      <div>
        [タイトル] <br> <p class="font-weight-bold"><%= @mail_title %></p>
      </div>
      <div>
        [本文] <br> <p class="font-weight-bold"><%= @mail_content %></p>
      </div>
    </div>
  </div>
</div>